@mixin space($spacing: var(--s-3)) {
  margin-top: calc(#{$spacing} * -1);
  margin-left: calc(#{$spacing} * -1);

  &:before {
    content: '';
    clear: both;
    display: table;
  }

  > * {
    padding-left: $spacing;
    padding-top: $spacing;
  }
}

.u-space {
  @include space;
}
