.banner {
  display: grid;
  align-items: end;
  grid-template-rows: 1fr;
  //grid-gap: var(--s-h-pad);
  //--max-col-width: calc(var(--max-content-width) / 12);
  //grid-template-columns: 1fr var(--s-h-pad) repeat(12, minmax(1rem, var(--max-col-width))) var(--s-h-pad) 1fr;
  //grid-template-columns: var(--horizontal-pad) 1fr repeat(8,minmax(1rem,var(--max-col-width))) 1fr var(--horizontal-pad);
  //grid-template-columns: var(--s-h-pad) 1fr var(--s-h-pad);
}

.banner__image {
  //grid-column: 2 / span 2;
  background-color: var(--t-background);
  z-index: -1;
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 0.8em;
  margin-right: calc(var(--s-h-pad) * -1);
  margin-left: calc(var(--s-h-pad) * -0.5);

  img {
    mix-blend-mode: multiply;
  }
}

.banner__title {
  grid-column: 1;
  grid-row: 1;
  max-width: 18ch;
  //grid-column: 2 / span 1;
  //margin-top: -100%;
}

.banner__t-accent {
  color: var(--t-accent);
}
