:root {
  --primary-font: 'graphik';
  --monospace-font: 'ibm-mono', monospace;
  --fs-xs: 0.750em;
  --fs-sm: 0.875em;
  --fs-xl: 1.6em;

  @media (min-width: 30em) {
    --fs-xl: 2.25em;
  }

  @media (min-width: 50em) {
    --fs-xl: 3em;
  }
}
