@mixin space {
  margin-top: calc(var(--s-3) * -1);
  margin-left: calc(var(--s-3) * -1);

  &:before {
    content: '';
    clear: both;
    display: table;
  }

  > * {
    padding-left: var(--s-3);
    padding-top: var(--s-3);
  }
}

.u-space {
  @include space;
}
