h1,
.h1 {
  line-height: 1.1;
  font-size: var(--fs-xl);
  //font-style: italic;
  font-weight: bold;
}

h2,
.h2 {
  //color: var(--t-white);
}

h3,
.h3 {
  font-size: 1em;
  font-weight: bold;
  //color: var(--t-whisper);
  //text-transform: uppercase;
}

h4,
.h4 {
  font-size: var(--fs-xs);
  text-transform: uppercase;
  letter-spacing: 0.08em;
}