.banner {
  overflow: hidden;
}

.banner__inner {
  @include container;
  background-color: var(--t-background);
}

.banner__image {
  position: relative;

  svg,
  img {
    mix-blend-mode: lighten;
  }

  img {
    @media (min-width: 22em) {
      width: 35%;
      max-width: 35em;
      float: right;
      shape-margin: var(--s-3);
      shape-outside: url('/static/img/jf-bar-mask.svg'); 
    }

    @media (min-width: 50em) {
      margin-right: -4em;
    }
  }

  img:first-child {
    opacity: 0;
  }

  img:nth-child(2) {
    position: absolute;
    right: 0;
    mask-image: url(/static/img/jf-bar-mask.svg);
  }
}

.banner__title {
  padding-top: var(--s-2);
  font-size: calc( 1.5rem + 17 * (100vw - 320px) / (960 - 320) );

  p {
    display: inline;

    &:not(:first-child) {
      color: var(--t-grey);
      // color: #adb5bd;
    }

    &:not(:last-child) {
      &:after {
        content: ' ';
      }
    }
  }
}