.site-header {
  --sh-link-spacing: var(--s-2);
  margin: var(--s-4) calc(var(--sh-link-spacing) * -1);
  display: flex;
  align-items: center;

  @media (min-width: 40em) {
    --sh-link-spacing: var(--s-3);
    margin-top: var(--s-5);
    margin-bottom: calc(var(--s-4) * 1.5);
  }
}

.site-header__inner {
  @include space;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &:before {
    display: none;
  }
}

.site-header__title {
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  white-space: nowrap;

  > .site-header__link {
    color: var(--t-accent);
  }
}

.site-header__nav {
  > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.site-header__link {
  padding: var(--sh-link-spacing);
  color: var(--t-color);
  text-decoration: none;
}

.site-header__link--is-active {
  color: var(--t-whisper);
}

.site-header__contact {
  margin-right: auto;
  padding-right: var(--s-5);
}
