.site-footer {
  --t-color: var(--t-background);
  --t-link-color: var(--t-background);
  color: var(--t-color);
  margin-top: var(--s-5);
  padding-top: var(--s-5);
  padding-bottom: var(--s-5);
  background-color: var(--t-accent);
}

.site-footer__inner {
  @include space;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.site-footer__title {
  width: 100%;
}

.site-footer__contact {
  display: inline-grid;
  grid-column-gap: var(--s-5);

  @media(min-width: 50em) {
    dt {
      grid-row: 1;
    }

    dd {
      grid-row: 2;
    }
  }
}

.site-footer__copyright {
  text-align: right;
  margin-left: auto;
  font-size: var(--fs-sm);
}