.stats {
  display: grid;
  grid-gap: var(--s-4);
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  font-size: var(--fs-sm);
}

.stats__title {
  margin-bottom: var(--s-2);
}

.stats__section {
  dt:not(:first-child) {
    margin-top: var(--s-3);
  }

  ul {
    list-style: none;
  }
}